<%- include("includes/head.ejs") %>
<div class="container">
    <div class="card-container">
        <div class="card">
            <h1>Task Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nulla id augue volutpat posuere. In arcu purus, euismod auctor sollicitudin at, vehicula sollicitudin massa. Donec ac orci diam. Morbi id sapien vitae ex facilisis imperdiet eget sed magna. Cras fringilla tempus tellus ac finibus. Cras sit amet nisi at leo efficitur suscipit sit amet non elit. Vivamus nec velit quis urna accumsan accumsan. Nunc in posuere enim. Curabitur rhoncus tempus lacus, ac dapibus orci ornare ut.  </p>
            <div class="btn-container">
                <form>
                    <button class="btn">Delete</button>
                </form>
            </div>
        </div>
        <div class="card">
            <h1>Task Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nulla id augue volutpat posuere. In arcu purus, euismod auctor sollicitudin at, vehicula sollicitudin massa. Donec ac orci diam. Morbi id sapien vitae ex facilisis imperdiet eget sed magna. Cras fringilla tempus tellus ac finibus. Cras sit amet nisi at leo efficitur suscipit sit amet non elit. Vivamus nec velit quis urna accumsan accumsan. Nunc in posuere enim. Curabitur rhoncus tempus lacus, ac dapibus orci ornare ut.  </p>
            <div class="btn-container">
                <form>
                    <button class="btn">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
    
<%- include("includes/end.ejs") %>