<%- include("includes/head.ejs") %>
<div class="container">
    <div class="card-container">
        <div class="card">
            <h1>Register</h1>
            <form id="register-form">
                <div class="form-row">
                    <label>Name</label>
                    <input class="form-field" type="text" name="name">
                </div>
                <div class="form-row">
                    <label>Email</label>
                    <input class="form-field" type="email" name="email">
                </div>
                <div class="form-row">
                    <label>Password</label>
                    <input class="form-field" type="password" name="password">
                </div>
            <div class="btn-container">
                    <button class="btn">Register</button>
                </div>
                </form>
        </div>
    </div>
</div>
    
<%- include("includes/end.ejs") %>